on post-fs-data
    mkdir /data/olog 0775 system system
    write /data/olog/dcs_temp 0
    chmod 0775 /data/olog/dcs_temp
    chown system system /data/olog/dcs_temp

    mkdir /data/persist_log 0775 system system
    mkdir /data/persist_log/DCS 0775 system system
    mkdir /data/persist_log/DCS/de 0775 system system
    mkdir /data/persist_log/DCS/de/olog 0777 system system
